---
layout: rules-list
title: Federal Rules of Civil Procedure
permalink: /frcp/
show_breadcrumbs: true
breadcrumb_parent: "Legal Directory"
breadcrumb_parent_url: /
---
<div class="resource-grid">
  <div class="resource-column">
    {% assign rules = site.frcp | sort: 'order' %}
    {% if rules[0].chapter %}
      {% assign groups = rules | group_by: 'chapter' %}
      {% for group in groups %}
        <h2>{{ group.name }}</h2>
        <ul>
          {% for rule in group.items %}
            <li><a href="{{ site.baseurl }}{{ rule.url }}">{{ rule.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      <ul>
        {% for rule in rules %}
          <li><a href="{{ site.baseurl }}{{ rule.url }}">{{ rule.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
