<footer id="site-footer">
    <div class="footer-container">
        <div class="footer-nav">
            <a href="https://discord.gg/5vDcGMzsQg">USAR Server</a>
            <a href="https://discord.gg/J8qQA62KZK">SCOTUS Server</a>
            <a href="https://discord.gg/54CBUb47d6">District Court Server</a>
            <a href="https://discord.gg/fknPvcCfFp">ULPA Server</a>
            <a href="https://www.law.cornell.edu/">Cornell Law</a>
            <a href="{{ site.baseurl }}/help/">Help</a>
        </div>

        <hr class="footer-divider" />

        <p class="footer-credit1">
            Website created & maintained by RaymondLWeston, JaredLPaguio, and the United States Supreme Court
        </p>

        <p class="footer-credit2">
            United States οf America Roblox | Owned by Jecxb
        </p>

    </div>
</footer>