<header id="cornell-header">
    <div id="cornell-topbar">
        <a href="https://www.law.cornell.edu/" class="cornell-logo">LII</a>
        <div class="cornell-title">
            <a href="{{ site.baseurl }}/">USAR Legal Directory</a>
        </div>
    </div>
    <nav id="cornell-nav">
        <ul>
            <li><a href="{{ site.baseurl }}/fre/">Federal Rules of Evidence</a></li>
            <li><a href="{{ site.baseurl }}/frcp/">Criminal Procedure</a></li>
            <li><a href="{{ site.baseurl }}/frcrp/">Civil Procedure</a></li>
            <li><a href="{{ site.baseurl }}/frap/">Appellate Procedure</a></li>
            <li><a href="{{ site.baseurl }}/supct/">Supreme Court Rules</a></li>
        </ul>
    </nav>
</header>