<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>

<body>
    {% include header.html %}

    {% if page.show_breadcrumbs %}
    <div id="breadcrumb-bg">
        <div class="breadcrumb-container">
            <div id="breadcrumb">
                <a href="{{ site.baseurl }}">Legal Directory</a>
                {% if page.breadcrumb_parent %}
                &gt; <a href="{{ site.baseurl }}{{ page.breadcrumb_parent_url }}">{{ page.breadcrumb_parent }}</a>
                {% endif %}
                &gt; <strong>{{ page.title }}</strong>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="two-column-layout">
        <main class="main-column">
            {{ content }}
        </main>

        <aside class="sidebar">
            <div class="toolbox-box">
                <h3>Page Toolbox</h3>
                <ul>
                    <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
                    <li><a href="{{ site.baseurl }}/help/">Help & FAQ</a></li>
                    <li><a href="{{ site.baseurl }}/subscribe/">Subscribe</a></li>
                </ul>
            </div>
        </aside>
    </div>

    {% include footer.html %}
</body>

</html>