<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>

<body>
    {% include header.html %}

    <div id="breadcrumb-bg">
        <div id="breadcrumb" class="breadcrumb-container">
            <a href="{{ site.baseurl }}">Legal Directory</a> &gt;

            {% if page.url contains '/fre/' or page.permalink contains '/fre/' %}
            <a href="{{ site.baseurl }}/fre/">Federal Rules of Evidence</a> &gt;
            {% elsif page.url contains '/supct/' or page.permalink contains '/supct/' %}
            <a href="{{ site.baseurl }}/supct/">Supreme Court Rules</a> &gt;
            {% elsif page.url contains '/frap/' or page.permalink contains '/frap/' %}
            <a href="{{ site.baseurl }}/frap/">Federal Appellate Procedure</a> &gt;
            {% elsif page.url contains '/frcmp/' or page.permalink contains '/frcmp/' %}
            <a href="{{ site.baseurl }}/frcmp/">Federal Rules of Criminal Procedure</a> &gt;
            {% elsif page.url contains '/frcp/' or page.permalink contains '/frcp/' %}
            <a href="{{ site.baseurl }}/frcp/">Federal Rules of Civil Procedure</a> &gt;
            {% endif %}

            <strong>{{ page.title }}</strong>
        </div>
    </div>


    <main id="top" class="content-container">
        <h1>{{ page.title }}</h1>
        {{ content }}

        {% if page.notes %}
        <section class="rule-notes">
            <h2>Notes</h2>
            <ul>
                {% for note in page.notes %}
                <li>{{ note | markdownify }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <div class="up-link">
            <a href="#top">Top of Page</a>
        </div>
    </main>

    {% include footer.html %}
</body>

</html>