<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>

<body>
    {% include header.html %}

    <div id="breadcrumb-bg">
        <div id="breadcrumb" class="breadcrumb-container">
            <a href="{{ site.baseurl}}">Legal Directory</a> &gt;
            <a href="{{ site.baseurl }}/supct/">Supreme Court Rules</a> &gt;
            <strong>{{ page.title }}</strong>
        </div>
    </div>

    <div class="two-column-layout">
        <main class="main-column">
            <h1>{{ page.title }}</h1>
            {{ content }}

            <div class="up-link">
                <a href="#top">Up</a>
            </div>
        </main>

        <aside class="sidebar">
            <div class="toolbox-box">
                <h3>Supreme Court Rules Toolbox</h3>
                <ul>
                    <li><a href="{{ site.baseurl }}/supct/">All Supreme Court Rules</a></li>
                    <li><a href="{{ site.baseurl }}/search.html?q=supreme+court">Search Supreme Court Rules</a></li>
                    <li><a href="{{ site.baseurl }}/subscribe/">Subscribe</a></li>
                </ul>
            </div>
        </aside>
    </div>

    {% include footer.html %}
</body>

</html>